#  Compile optimizations
CONFIG_MCORE2=y

#  Encrypted harddisk
#  https://wiki.gentoo.org/wiki/Dm-crypt
CONFIG_CRYPTO_AES_X86_64=y
CONFIG_CRYPTO_ECB=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_CRYPTO_XTS=y
CONFIG_DM_CRYPT=y
CONFIG_CRYPTO_USER_API=y

#  LVM
#  Note: Not everything needs to be enabled; some of the options are only needed
#  for LVM2 Snapshots and LVM2 Thin Snapshots, LVM2 Mirrors, LVM2 RAID
#  0/Stripeset and encryption.
#  https://wiki.gentoo.org/wiki/LVM
CONFIG_DM_MULTIPATH=y
CONFIG_DM_SNAPSHOT=y
CONFIG_DM_BUFIO=y
CONFIG_DM_DEBUG_BLOCK_MANAGER_LOCKING=y
CONFIG_DM_MULTIPATH_QL=y
CONFIG_DM_MULTIPATH_ST=y